In [1]:
import pandas as pd

### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [7]:
films = pd.read_csv(r'C:\Users\Lenovo\Documents\Арх-разр\5 Numpy, Pandas\03 Pandas Функции и работа с данными\ml-latest-small\movies.csv')
reit = pd.read_csv(r'C:\Users\Lenovo\Documents\Арх-разр\5 Numpy, Pandas\03 Pandas Функции и работа с данными\ml-latest-small\ratings.csv')

def reiting(rat):
    if rat <= 2:
        return 'низкий'
    elif rat <= 4:
        return 'средний'
    elif rat in (4.5, 5):
        return 'высокий'
    return 'неизвестно'

reit['reit_name'] = reit['rating'].apply(reiting)
reit.head()

   userId  movieId  rating   timestamp reit_name
0       1       31     2.5  1260759144   средний
1       1     1029     3.0  1260759179   средний
2       1     1061     3.0  1260759182   средний
3       1     1129     2.0  1260759185    низкий
4       1     1172     4.0  1260759205   средний

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [15]:
geo = pd.read_csv(r'C:\Users\Lenovo\Documents\Арх-разр\5 Numpy, Pandas\03 Pandas Функции и работа с данными\ml-latest-small\keywords.csv')

def set_region(key):
    for word in key.lower().split(' '):
        if word in ('москва', 'тула', 'ярославль'):
            return 'Центр'
        elif word in ('петербург', 'псков', 'мурманск'):
            return 'Северо-Запад'
        elif word in ('владивосток', 'сахалин', 'хабаровск'):
            return 'Дальний Восток'
    return 'undefined'
geo['region'] = geo['keyword'].apply(set_region)
geo.region.value_counts()

undefined         99406
Центр               384
Северо-Запад        146
Дальний Восток       64
Name: region, dtype: int64

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [36]:
films = pd.read_csv(r'C:\Users\Lenovo\Documents\Арх-разр\5 Numpy, Pandas\03 Pandas Функции и работа с данными\ml-latest-small\movies.csv')
reit = pd.read_csv(r'C:\Users\Lenovo\Documents\Арх-разр\5 Numpy, Pandas\03 Pandas Функции и работа с данными\ml-latest-small\ratings.csv')

years = list(range(1950, 2011))

def production_year(name):
    for i in years:
        s = str(i)
        if s in name:
            return s
    return '1900'

films['year'] = films['title'].apply(production_year)

joined = reit.merge(films, on='movieId', how='left')

joined.groupby('year').mean('rating').sort_values('rating', ascending=False).reset_index().head(10)[['year', 'rating']]

   year    rating
0  1957  4.014241
1  1972  4.011136
2  1952  4.000000
3  1954  3.994220
4  1951  3.983539
5  1974  3.978704
6  1962  3.952446
7  1950  3.915254
8  1977  3.905786
9  1964  3.841492